{% extends "layout.html" %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col s3">
            <div id="sidenav-left" class="sidenav sidenav-fixed teal">
                <div class="center">
                    <!-- <li><a href="/pages/admin-dashboard" class="logo-container">Name<i class="material-icons left">spa</i></a> </li> -->
                    <ul id="sidenav-left">
                        <li><a href="/test" class="logo-container"><i class="material-icons">spa</i> Admin</a>
                        </li>
                    </ul>
                    <hr>
                    <!-- <ul class="collection teal">
                        <ul class="collection with-header teal">
                            <li class="collection-header teal">
                                <h4>First Names</h4>
                            </li>
                            <li class="collection-item">
                                <div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
                                </div>
                            </li>
                            <li class="collection-item">
                                <div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
                                </div>
                            </li>

                        </ul>
                        <li class="collection-item avatar">
                            <img src="images/yuna.jpg" alt="" class="circle">
                            <span class="title">Title</span>
                            <p>First Line <br>
                                Second Line
                            </p>
                        </li>
                        <li class="collection-item avatar">
                            <i class="material-icons circle">folder</i>
                            <span class="title">Title</span>
                            <p>First Line <br>
                                Second Line
                            </p>
                        </li>
                        <li class="collection-item avatar">
                            <i class="material-icons circle green">insert_chart</i>
                            <span class="title">Title</span>
                            <p>First Line <br>
                                Second Line
                            </p>
                        </li>
                    </ul> -->
                </div>
            </div>
        </div>
        <div class="col s9">

            <div class="container green">
            </div>
        </div>
    </div>
</div>
{% endblock %}